<h1>投稿一覧画面</h1>
<%= form_with url: keyword_search_recipes_path, local: true, method: :get do |form| %>
    <%= form.text_field :keyword %>
    <%= form.submit "キーワード検索" %>
<% end %>
<% @recipes.each do |recipe| %>
<p>
    <%= link_to recipe.recipe_name, recipe_path(recipe.id) %>
</p>

<p>
    <%= recipe.introduction %>
</p>

<% end %>